<table id="tbl_playoffs" class="table table-dark table__points">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Years</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {{#each playoffs}}
            <tr>
                <td><img class="user user-sm" src="/images/{{name}}_thumb.png" alt="{{name}}"> {{name}}</td>
                <td>{{years}}</td>
                <td>{{total}}</td>
            </tr>
        {{/each}}
        </tbody>
</table>